RewriteEngine On

RewriteRule ^test([_\-a-zA-Z\.0-9\/]*) test$1 [QSA,L]

RewriteRule ^(.*)/images/(.*)$ $1/images/$2 [QSA,L]
RewriteRule ^(.*)/js/(.*)$ $1/js/$2 [QSA,L]
RewriteRule ^(.*)/css/(.*)$ $1/css/$2 [QSA,L]

RewriteRule ^images/(.*)$ images/$1 [QSA,L]
RewriteRule ^js/(.*)$ js/$1 [QSA,L]
RewriteRule ^css/(.*)$ css/$1 [QSA,L]

RewriteRule ^([_\-a-zA-Z\.0-9\/]*)\/([_\-a-zA-Z\.0-9\/]*)\/([_\-a-zA-Z\.0-9\/]*)$ index.php?c=$1&m=$2&a=$3 [QSA,L]
RewriteRule ^([_\-a-zA-Z\.0-9\/]*)\/([_\-a-zA-Z\.0-9\/]*)$ index.php?c=$1&m=$2 [QSA,L]
RewriteRule ^([_\-a-zA-Z\.0-9\/]*)$ index.php?c=$1 [QSA,L]